body {
    font-family: monospace;
}

.div {
    text-align: center;
    padding-top: 160px;
}

.div-1 {
    padding-top: 10px;
}

button {
   border-color: green;
   border-radius: 4em;
   color: white;
   background-color: green;
   padding: 15px;
   }
   
 button:hover {
    color: green;
    background-color: white;
 }